<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" class="before:content-[''] before:h-3 before:bg-gradient-to-r before:from-fuchsia-700 before:to-fuchsia-950 before:block">

<head>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  {{ with .Site.Params.favicon }}
  <link rel="shortcut icon" href="{{ . | absURL }}" />{{ end }}

  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>

  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer-when-downgrade" />

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ $styles := resources.Get "style.css" }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1MDQSFP817"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1MDQSFP817');
  </script>

</head>

<body class="m-auto bg-zinc-900 p-8 max-w-screen-lg">
  <div class="flex flex-col-reverse lg:flex-row">
    <div class="w-full lg:w-[30%] text-white">
      <a href="{{ "" | relURL }}">
        <h1 class="text-white font-extrabold text-3xl">{{ .Site.Title }}</h2>
      </a>
      <nav>
        <div class="flex flex-col font-bold">
          <div class="">
            <h2>External:</h2>
            <div class="ml-4 text-lime-400 flex flex-col">
              <a href="https://github.com/michael-brennan2005">GitHub</a>
              <a href="https://www.linkedin.com/in/michael-brennan-67a13b2b1/">LinkedIn</a>
              <a href="/resume.pdf">Resume</a>
            </div>  
          </div>
          <div class="">
            {{ with .Site.GetPage "/collections" }}
              <h2><a href="{{ "collections" | relURL }}">Collections:</a></h2>
            {{ end }}
            <div class="ml-4 text-red-500">
              {{ range where $.Site.RegularPages "Section" "collections" }}
                <a href="{{ .RelPermalink }}">{{.Title}}</a>
              {{ end }}
            </div>
          </div>          
          <div class="">
            {{ with .Site.GetPage "/blog" }}
              <h2><a href="{{ "blog" | relURL }}">Blog:</a></h2>
            {{ end }}
            <div class="ml-4 text-yellow-500">
              {{ range where $.Site.RegularPages "Section" "blog" }}
                <a href="{{ .RelPermalink }}">{{.Title}}</a>
              {{ end }}
            </div>
          </div>          
        </div>
      </nav>      
    </div>
    <div class="flex-grow prose prose-invert prose-a:text-red">
      {{- block "main" . }}{{- end }}
    </div>
  </div>
</body>

</html>
