{% extends "base.html" %}

{% block content %}
<p>Welcome to my website!</p>
<p>I'm a 3rd year at Northeastern University studying computer engineering. Currently, I'm an EE intern at the Robotics & AI Institute in Cambridge, MA.</p>

<h1>Blog Posts</h1>
<ul>
    {% set posts_section = get_section(path="blog/_index.md") %}
    {% for page in posts_section.pages %}
    <li><a href="{{ page.permalink | safe }}">{{ page.title }} - {{page.date}}</a></li>
    {% endfor %}    
</ul>

<div class="column">
    <h1>Experience</h1>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <div style="width: 55%">
        <h2 style="margin: 0;">Robotics & AI Institute</h2>
        <em>Electrical Engineering Intern, July 2025 - Dec 2025</em>
        <p style="margin-top: 1rem; text-align: justify;">3 Stones is an app for accessible real estate investing, allowing individuals to invest directly in development projects with minimal capital. I was one of the tech leads for this project - I led a team of 6 engineers, ensuring effective communication and coordination with leadership and design teams. In addition, I architected our backend and database schema, and developed our project details and project investment screens.</p>
        <p><strong>Technologies: </strong>Altium Designer, LTSpice, Rust, RTIC, STM32, Ethernet, Ultra-Wideband</p>
        </div>
        <img style="width:40%" src="/img/home/rai.png"/>
    </div>

    <h1>Projects</h1>

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <div style="width: 55%">
        <h2 style="margin: 0;">GreenTower</h2>
        <em>Firmware Engineer, Sep 2025 - Dec 2025</em>
        <p style="margin-top: 1rem; text-align: justify;">3 Stones is an app for accessible real estate investing, allowing individuals to invest directly in development projects with minimal capital. I was one of the tech leads for this project - I led a team of 6 engineers, ensuring effective communication and coordination with leadership and design teams. In addition, I architected our backend and database schema, and developed our project details and project investment screens.</p>
        <p><strong>Technologies: </strong>C, ESP32, FreeRTOS, ESP-IDF, Altium Designer</p>
        <a href="https://github.com/GenerateNU/3stones">Repository</a>
        </div>
        <img style="width:40%" src="/img/home/3stones.png"/>
    </div>

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <div style="width: 55%">
        <h2 style="margin: 0;">Arcade</h2>
        <em>Electrical Engineer, Jan 2025 - April 2025</em>
        <p style="margin-top: 1rem; text-align: justify;">3 Stones is an app for accessible real estate investing, allowing individuals to invest directly in development projects with minimal capital. I was one of the tech leads for this project - I led a team of 6 engineers, ensuring effective communication and coordination with leadership and design teams. In addition, I architected our backend and database schema, and developed our project details and project investment screens.</p>
        <p><strong>Technologies: </strong>Altium Designer, C++, USB, UART, WS2815B LEDs</p>
        <a href="https://github.com/GenerateNU/3stones">Repository</a>
        </div>
        <img style="width:40%" src="/img/home/3stones.png"/>
    </div>

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <div style="width: 55%">
        <h2 style="margin: 0;">3 Stones</h2>
        <em>Technical Lead, Sep 2024 - Dec 2024</em>
        <p style="margin-top: 1rem; text-align: justify;">3 Stones is an app for accessible real estate investing, allowing individuals to invest directly in development projects with minimal capital. I was one of the tech leads for this project - I led a team of 6 engineers, ensuring effective communication and coordination with leadership and design teams. In addition, I architected our backend and database schema, and developed our project details and project investment screens.</p>
        <p><strong>Technologies: </strong>Go, Supabase, PostgreSQL, Plaid, TypeScript, React Native</p>
        <a href="https://github.com/GenerateNU/3stones">Repository</a>
        </div>
        <img style="width:40%" src="/img/home/3stones.png"/>
    </div>

    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 1rem; justify-content: space-between;">
        <div style="width: 55%">
        <h2 style="margin: 0;">Student Activity Calendar</h2>
        <em>Software Engineer, Jan 2024 - Jun 2024</em>
        <p style="margin-top: 1rem; text-align: justify;">Student Activity Calendar is an app for club and event marketing at Northeastern. As an engineer for this project, I built out endpoints using Go and PostgreSQL; built a hybrid search feature for clubs and events using PostgreSQL FTS and OpenAI Embeddings; and built the search and explore screens with React Native, TypeScript, and Expo.</p>
        <p><strong>Technologies: </strong>Go, Supabase, PostgreSQL, OpenAI Embeddings API, TypeScript, React Native</p>
        <a href="https://github.com/GenerateNU/sac">Repository</a>
        </div>
        <img style="width:40%" src="/img/home/studentactivitycalendar.png"/>
    </div>

    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 1rem; justify-content: space-between;">
        <div style="width: 55%">
        <h2 style="margin: 0;">Rita</h2>
        <em>Personal Project, Jul 2024 - Aug 2024</em>
        <p style="margin-top: 1rem; text-align: justify;">Rita is an audio graph editor built using Rust, Tauri, and CPAL. I implemented nodes for audio I/O, processing, and synthesis; and a sound compiler and playback system for performant and smooth audio playback.</p>
        <p><strong>Technologies: </strong>Rust, Tauri, CPAL</p>
        <div style="display: flex; flex-direction: row; gap: 1rem;">
            <a href="https://github.com/michael-brennan2005/rita-graph">Repository</a>
            <a href="/blog/august2024_ritav1.html">Blog Post</a>
        </div>
        </div>
        <img style="width:40%" src="/img/home/rita.png"/>
    </div>

    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 1rem; justify-content: space-between;">
        <div style="width: 55%">
        <h2 style="margin: 0;">Oceanman</h2>
        <em>Personal Project, Jun 2023 - Aug 2023</em>
        <p style="margin-top: 1rem; text-align: justify;">Oceanman is a 3D renderer I built from scratch to learn graphics programming. Using WebGPU and Rust, I implemented physically-based rendering, image-based lighting, a glTF scene loader, HDR texture support, and post-processing effects (tonemapping and FXAA).</p>
        <p><strong>Technologies: </strong>Rust, WebGPU</p>
        <div style="display: flex; flex-direction: row; gap: 1rem;">
            <a href="https://github.com/michael-brennan2005/oceanman">Repository</a>
            <a href="/blog/august2023_oceanman.html">Blog Post</a>
        </div>
        </div>
        <img style="width:40%" src="/img/august2023-oceanman/final-render.png"/>
    </div>
</div>
{% endblock content %}