<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Michael Brennan</title>
  <link rel="stylesheet" href="/main.css">
  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">

  <script defer src="https://cloud.umami.is/script.js" data-website-id="ea1e91fe-cf0b-4314-a1d1-294dce2db2cf"></script>
</head>

<body>
  <div class="column">
    <h1><a href="/">Michael Brennan</a></h1>
    <div>
      {% set archive_section = get_section(path="archive/_index.md") %}
      {% for page in archive_section.pages %}
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      {% endfor %}    
      <a href="https://github.com/michael-brennan2005">Github</a>
      <a href="https://www.linkedin.com/in/michael-brennan-67a13b2b1/">LinkedIn</a>
    </div>
    <hr>
    
    <div>
      {% block content %} {% endblock content %}
    </div>
  </div>  
</body>

</html>
